body {
    /*background-color: #eee;*/
}

.form-login {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-login .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-login .form-control:focus {
    z-index: 2;
}

.form-login input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-login input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.col-md-4 {
    margin-top: 100px;
}

#loginCtl {
    border: 3px solid #81b7f1;
    padding-bottom: 20px;
}

#loginBgImg {
    height: 400px;
    float: left;
    width: 100%;
}



